.home {
  background-color: $color-background;
  padding: 0 60px;

  .search-filter {
    margin-top: 50px;
    margin-bottom: 35px;

    .filter-float {
      float: right;
    }
  }

  .card {
    img {
      height: 250px;
      object-fit: cover;
    }

    .card-content{
      color: $color-primary;
      
      .card-title {
        font-weight: 600;
      }
      
      .card-info {
        font-weight: 600;
      }
    } 
  }
}

// Search and filter components

.styled-component__StyledInput-sc-1dsackt-0 {
  background-color: $color-white !important;
  border-bottom: none !important;
  border-radius: 5px !important;
  height: 65px !important;
  font-size: 14px !important;
  padding-left: 10px !important;
  font-family: Nunito !important;
}

.styled-component__StyledInput-sc-1dsackt-0:focus {
  box-shadow: none !important;
}

.react-search-box-dropdown {
  position: absolute;
  z-index: 1;
  margin-top: 75px;
}

.filter {
  .css-yk16xz-control{
    border-color: $color-background;

    .css-1wa3eu0-placeholder {
      color: hsl(0, 1%, 76%);
    }

    .css-1okebmr-indicatorSeparator {
      display: none;
    }
  }
}
