$color-primary: hsl(200, 15%, 8%);
$color-secondary: hsl(0, 0%, 52%);
$color-background: hsl(0, 0%, 98%);
$color-auxiliary: hsl(0, 0%, 80%);

$color-primary-dark: hsl(209, 23%, 22%);
$color-background-dark:  hsl(207, 26%, 17%);

$color-white: hsl(0, 0%, 100%);
